{% extends 'partials/base.html.twig' %}

{% block content %}

    {{ content|raw }}
    {% if jsgrid is defined and jsgrid is iterable %}
        {% include "jsgrid/jsgrid.html.twig" %}
    {% else %}
        <h1>Error JsGrid Grav Plugin</h1>
    {% endif  %}

{% endblock %}
